<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/icon.min.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#meow" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Portfolio</a>
        </div>
          
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="meow">
          <ul class="nav navbar-nav navbar-right">
            <li><a target="_blank" href="https://github.com/tarotom"><i class="large #661ebf github icon"></i><span class="navbar-text visible-xs-inline-block">GitHub</span></a></li>
            <li><a target="_blank" href="https://bitbucket.org/tarotom/"><i class="large #661ebf bitbucket icon"></i><span class="navbar-text visible-xs-inline-block">Bitbucket</span></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/tomi-tarvainen-446a348a/"><i class="large #661ebf linkedin icon"></i><span class="navbar-text visible-xs-inline-block">LinkedIn</span></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>