<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/icon.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <div id="landing-header">
    <a class="my_icons" href="/portfolio">
      <i class="huge #661ebf suitcase icon"></i>
    </a>
    
    <a target="_blank" class="my_icons" href="https://github.com/tarotom">
      <i class="huge #661ebf github icon"></i>
    </a>
    
    <a target="_blank" class="my_icons" href="https://bitbucket.org/tarotom/">
      <i class="huge #661ebf bitbucket icon"></i>
      </a>
        
    <a target="_blank" class="my_icons" href="https://www.linkedin.com/in/tomi-tarvainen-446a348a/">
      <i class="huge #661ebf linkedin icon"></i>
      </a>
    </div>
  </body>
</html>