<% include partials/header %>

<div class="container">
  <div class="row">
    <h1 style="text-align: center; color: white;">Homepage with some filler data and some real things and stuff!</h1>
    <p style="text-align: center; color: white;">MEOW things I've done meow projects meow technologies MEOW</p>

    <div class="panel-group col-sm-12" id="accordionMain"> <!-- START OF MAIN ACCORDION -->
        
      <div class="panel panel-default"> <!-- START OF JAVA ACCORDION -->
        <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseJava">Java</a>    <!-- Language -->
          </h4>
        </div>
        <div id="collapseJava" class="panel-collapse collapse">   <!-- Technologies -->
        
            <div class="panel-body">
              <div class="panel-group" id="accordionJava">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordionJava" href="#collapseOneJava">RouteGuidance</a>
                        <a target="_blank" href="https://github.com/VFUC/RouteGuidance-Android"> &Rightarrow; Link to project</a>
                        <p style="font-size: 10px;">This school project was about creating an Android mobile application to guide people with visual impairments along their Turku Föli bus travels.<br>
                                                    My responsibilities were: Programming(Java), testing and documenting.</p>

                      </h4>
                    </div>
                  </div>
                  
                <div class="panel panel-default"> <!-- Vaadin -->
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordionJava">Vaadin</a>
                      <p style="font-size: 10px;">I haven't actually done anything "real" with Vaadin. I've played with it a little to see what it is about and how it works. This is here just as a filler thing so I can test and see how things work and look like when there is more things and stuff on the website.</p>
                    </h4>
                  </div>
                </div>
                
                <div class="panel panel-default"> <!-- notesme -->
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordionJava">notesme</a>
                      <a target="_blank" href="https://bitbucket.org/tarotom/notesme"> &Rightarrow; Link to project</a>
                      <p style="font-size: 10px;">Android mobile app. Simple app for making notes, lists and TODOs</p>
                    </h4>
                  </div>
                </div>
              </div>  
            </div>
            
        </div>
        
    </div> <!-- END OF JAVA ACCORDION -->
  
    <div class="panel panel-default"> <!-- START OF C# ACCORDION -->
    
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseCS">C#</a>
        </h4>
      </div>
        
      <div id="collapseCS" class="panel-collapse collapse">
        
        <div class="panel-body">
          <div class="panel-group" id="accordionCS">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordionCS1">Project 7</a>
                </h4>
              </div>
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Libraries, frameworks and technologies that I've used some or less at somepoint
                  <ul class="panel-body">
                    <li>.NET</li>
                    <li>Mono</li>
                    <li>Unity</li>
                    <li>WPF</li>
                  </ul>
                </h4>
              </div>
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordionCS2">Project 42</a>
                  <p style="font-size: 10px;">This is a small description text to tell you something about this project here. More so you don't even necessarily need to go and click the link to check things and stuff, because this very useful piece of text will tell you what you need to know about this project AND MORE! WOW! Amazing!</p>
                </h4>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        
    </div> <!-- END OF C# ACCORDION -->
    
    <div class="panel panel-default"> <!-- START OF PYTHON ACCORDION -->
    
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapsePython">Python</a>
        </h4>
      </div>
        
      <div id="collapsePython" class="panel-collapse collapse">
        
        <div class="panel-body">
          <div class="panel-group" id="accordionPython">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Libraries, frameworks and technologies that I've used some or less at somepoint. Some of these are listed here (I have used them all, but all of them aren't really worth mentioning)just so I can see and test how things work when there is more things and stuffs on the page and in accordions.
                    <ul class="panel-body">
                      <li>bs4</li>
                      <li>docs</li>
                      <li>imapclient</li>
                      <li>logging</li>
                      <li>openpyxl</li>
                      <li>os</li>
                      <li>pprint</li>
                      <li>pyautogui</li>
                      <li>PyPDF2</li>
                      <li>pyperclip</li>
                      <li>pyzmail</li>
                      <li>random</li>
                      <li>re</li>
                      <li>requests</li>
                      <li>selenium -> (webdriver)</li>
                      <li>smtplib</li>
                      <li>sys</li>
                      <li>webbrowser</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </div>
        </div>
        
      </div>
        
    </div> <!-- END OF PYTHON ACCORDION -->
    
    <div class="panel panel-default"> <!-- START OF JAVASCRIPT ACCORDION -->
    
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseJS">JavaScript</a>
        </h4>
      </div>
      
      <div id="collapseJS" class="panel-collapse collapse">
        
        <div class="panel-body">
          <div class="panel-group" id="accordionJS">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <p><strong>Twitter bot</strong><a target="_blank" href="https://github.com/tarotom/twitter-bot"> &Rightarrow; Link to project</a></p>
                  <p style="font-size: 10px;">I made a really simple Twitter bot because I wanted to do something cool and learn JavaScript while at it. I used library called <a target="_blank" href="https://github.com/ttezel/twit">Twit</a>.
                </h4>
              </div>
            </div>
              
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <p><strong>My homepage/portfolio</strong><a target="_blank" href="https://bitbucket.org/tarotom/portfolio"> &Rightarrow; Link to project</a></p>
                  <p style="font-size: 10px;">This is my attempt to create potfolio. If you're reading this from my page then believe it or not but if you click the link above you get to see how this was made. And you're reading the source code then you can check the actual site by clicking this <a href="">link</a>. Isn't technology a cool thing?</p>
                </h4>
              </div>
            </div>
              
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <p><strong>My blog</strong><a target="_blank" href="https://bitbucket.org/tarotom/blog"> &Rightarrow; Link to project</a></p>
                  <p style="font-size: 10px;">It's all in the name. This is a site for blogging. It's not in use but if it would be you would be able to visit the site by clicking this <a href="">link</a>.</p>
                </h4>
              </div>
            </div>
              
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Libraries, frameworks and technologies that I've used some or less at somepoint. Some of these are listed here (I have used them all, but all of them aren't really worth mentioning)just so I can see and test how things work when there is more things and stuffs on the page and in accordions.
                  <ul class="panel-body">
                    <li>Body-parser</li>
                    <li>Express</li>
                    <li>Express-session</li>
                    <li>Ejs</li>
                    <li>faker</li>
                    <li>Method-override</li>
                    <li>Mongoose</li>
                    <li>Nodemon</li>
                    <li>Passport</li>
                    <li>Passport-local</li>
                    <li>Passport-local-mongoose</li>
                  </ul>
                </h4>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        
    </div> <!-- END OF JAVASCRIPT ACCORDION -->
    
    <div class="panel panel-default"> <!-- START OF CSS ACCORDION -->
    
      <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseCSS">CSS</a>
          </h4>
      </div>
      
      <div id="collapseCSS" class="panel-collapse collapse">
        
        <div class="panel-body">
          <div class="panel-group" id="accordionCSS">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Libraries, frameworks and technologies that I've used some or less at somepoint
                  <ul class="panel-body">
                    <li>Bootstrap</li>
                    <li>Semantics</li>
                  </ul>
                </h4>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        
    </div> <!-- END OF CSS ACCORDION -->
    
    <div class="panel panel-default"> <!-- START OF HTML ACCORDION -->
    
      <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseHTML">HTML5</a>
          </h4>
      </div>
      
      <div id="collapseHTML" class="panel-collapse collapse">
        
        <div class="panel-body">
          <div class="panel-group" id="accordionHTML">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Libraries, frameworks and technologies that I've used some or less at somepoint
                  <a data-toggle="collapse" data-parent="#accordionHTML">Project 62</a>
                  <ul class="panel-body">
                    
                  </ul>
                </h4>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        
    </div> <!-- END OF HTML ACCORDION -->
    
    <div class="panel panel-default"> <!-- START OF SQL ACCORDION -->
    
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseSQL">SQL</a>
        </h4>
      </div>
      
      <div id="collapseSQL" class="panel-collapse collapse">
        
        <div class="panel-body">
          <div class="panel-group" id="accordionSQL">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Libraries, frameworks and technologies that I've used some or less at somepoint
                    <ul class="panel-body">
                      <li>Microsoft SQL Server</li>
                      <li>Oracle Northwind</li>
                    </ul>
                  </h4>
                </div>
              </div>
          </div>
        </div>
        
      </div>
        
    </div> <!-- END OF SQL ACCORDION -->
    
    <div class="panel panel-default"> <!-- START OF NOSQL ACCORDION -->
    
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseNoSQL">NoSQL</a>
        </h4>
      </div>
        
      <div id="collapseNoSQL" class="panel-collapse collapse">
        
        <div class="panel-body">
          <div class="panel-group" id="accordionNoSQL">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Libraries, frameworks and technologies that I've used some or less at somepoint
                  <ul class="panel-body">
                    <li>MongoDB</li>
                  </ul>
                </h4>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        
    </div> <!-- END OF NOSQL ACCORDION -->
    
    <div class="panel panel-default"> <!-- START OF C ACCORDION -->
      
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseC">C</a>
        </h4>
      </div>
      
      <div id="collapseC" class="panel-collapse collapse">
        
        <div class="panel-body">
          <div class="panel-group" id="accordionC">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Libraries, frameworks and technologies that I've used some or less at somepoint
                  <ul class="panel-body">
                    
                  </ul>
                </h4>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        
    </div> <!-- END OF C ACCORDION -->
    
    <div class="panel panel-default"> <!-- START OF RUBY ACCORDION -->
    
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseRuby">Ruby</a>
        </h4>
      </div>
      
      <div id="collapseRuby" class="panel-collapse collapse">
        
        <div class="panel-body">
          <div class="panel-group" id="accordionC">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Libraries, frameworks and technologies that I've used some or less at somepoint
                  <ul class="panel-body">
                      
                  </ul>
                </h4>
              </div>
            </div>
          </div>
        </div>
        
      </div>
        
    </div> <!-- END OF RUBY ACCORDION -->
    
    <div class="panel panel-default"> <!-- START OF C++ ACCORDION -->
    
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapseCPP">C++</a>
        </h4>
      </div>
      
      <div id="collapseCPP" class="panel-collapse collapse">
        
        <div class="panel-body">
          <div class="panel-group" id="accordionCPP">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">Libraries, frameworks and technologies that I've used some or less at somepoint
                  <ul class="panel-body">
                    <li>OpenGL</li>
                  </ul>
                </h4>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div> <!-- END OF C++ ACCORDION -->
    
      <div class="panel panel-default"> <!-- START OF MISC ACCORDION -->
      
        <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapseMISC">MISC</a>
          </h4>
        </div>
        
        <div id="collapseMISC" class="panel-collapse collapse">
          
          <div class="panel-body">
            <div class="panel-group" id="accordionMISC">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">Libraries, frameworks and technologies that I've used some or less at somepoint. Some of these are listed here (I have usd them, but all of them aren't really worth mentioning)just so I can see and test how things work when there is more things and stuffs on the page and in accordions.
                    <ul class="panel-body">
                      <li>Arduino</li>
                      <li>AWS</li>
                      <li>C9</li>
                      <li>Eclipse</li>
                      <li>Git</li>
                      <li>Heroku</li>
                      <li>IoT-Ticket</li>
                      <li>Linux/Unix</li>
                      <li>MATLAB</li>
                      <li>NetBeans</li>
                      <li>Redmine</li>
                      <li>RESTful routing</li>
                      <li>Scrum</li>
                      <li>Visual Studio</li>
                      <li>Windows</li>
                    </ul>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          
        </div>
          
      </div> <!-- END OF MISC ACCORDION -->
        
    </div> <!-- END OF ACCORDION -->
  </div>
</div>

<% include partials/footer %>