html {
    height: 100%;
    width:100%;
}

body {
    padding-top: 50px;
    background-image: url(https://images.unsplash.com/photo-1454165205744-3b78555e5572?auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navbar-text {
    margin-top: 0;
    margin-bottom: 0;
}

.panel-body {
    padding: 15px;
    padding-bottom: 0px;
}