body {
    background-color: #000000;
}

.my_icons {
    color: #661ebf;
}

.my_icons:hover, .my_icons:not(:hover) {
    text-decoration: none;
    color: #661ebf;
}

.my_icons:active {
    color: #661ebf;
}

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landing-header h1 {
    color: #661ebf;
}